nav {
	position: fixed;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	font-family: 'Uchen', sans-serif;
	padding: 0 5%;
	height: 100px;
	background-color: hsl(42, 94%, 64%);
}
nav .logo {
	float: left;
	width: 40%;
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 24px;
	color: black;
}
nav .logo a{
    color: black;
}
nav .logo a:hover{
    color: black;
    text-decoration: none;
}

nav .logo .image {
    height: 0.002px;
}

nav .logo-image{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}
nav .links {
	float: right;
	padding: 0;
	margin: 0;
	width: 60%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
nav .links li {
	list-style: none;
}
nav .links a {
	display: block;
	padding: 1em;
	font-size: 16px;
	font-weight: bold;
	color: black;
	text-decoration: none;
	text-align: center;
}
#nav-toggle {
	position: absolute;
	top: -100px;
}
nav .icon-burger {
	display: none;
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
}
nav .icon-burger .line {
	width: 30px;
	height: 4px;
	background-color: black;
	margin: 5px;
	border-radius: 3px;
	transition: all .3s ease-in-out;
}


@media screen and (max-width: 768px) {

    /* navbar mobile */

    nav {
        height: 65px;
    }

	nav .logo {
		float: none;
		width: auto;
		justify-content: center;
        font-size: 25px;
	}

    .logo-image-ctsg {
        display: none;
    }

	nav .links {
		float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 65px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: hsla(42, 93%, 70%, 0.8);
		overflow: hidden;
		box-sizing: border-box;
		transition: all .5s ease-in-out;
        font-size: 20px;
	}
	nav .links a {
		font-size: 20px;
	}
	nav :checked ~ .links {
		bottom: 0;
	}
	nav .icon-burger {
		display: block;
	}
	nav :checked ~ .icon-burger .line:nth-child(1) {
		transform: translateY(9px) rotate(225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(3) {
		transform: translateY(-9px) rotate(-225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(2) {
		opacity: 0;
	}   
}


.spacer{
    flex: 1;
}

.flip-container{
    display: flex;
    padding: 20px;
    margin-top: 5px;
    float: center;
}

.flip-box {
  background-color: transparent;
  width: 300px;
  height: 70px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateX(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: #bbb;
  color: black;
}

.flip-box-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateX(180deg);
}

.passionate-title{
    float: right;
    word-wrap: break-word;
    text-align: center;
    padding: 2rem;
    border-bottom: 5rem;
}
.passionate-img{
    display: block;
    text-align: center;
    padding: 30px;
    margin: 20px;
}

.steps-wrapper {
    text-align: center;
    background-color: #f5f5f5;
}

.steps-container {
    display: flex;
    justify-content: center;
    width: auto;
    text-align: center;
    flex-wrap: wrap;
}

.steps{
    padding: 20px;
    word-wrap: break-word;
    width: 250px;
    height: 250px;
}

.services{
    text-align: center;
    padding: 0px;
}

.services-item{
	margin-bottom:70px;
}
.services-item.left .icon{
	width:80px;
	height:80px;
	float:right;
}
.services-item.right .icon{
	width:80px;
	height:80px;
	float:left;
}
.services-item .icon img{
	width:80px;
	height:80px;
	border: 2px solid hsl(42, 94%, 64%);
}
.services-item.left .ket{
	text-align:right;
	margin-right: 100px;
}
.services-item.right .ket{
	text-align:left;
	margin-left: 100px;
}
.services-item.left .ket h4{
	text-align: right;
    font-size: 18px;
    color: #333333;
    line-height: 22px;
    font-family: raleway, sans-serif;
    font-weight: 700;
}
.services-item.right .ket h4{
	text-align: left;
    font-size: 18px;
    color: #333333;
    line-height: 22px;
    font-family: raleway, sans-serif;
    font-weight: 700;
}
